<div class="container">
  <h2>Update Task</h2>
  <form [formGroup]="updateTaskForm">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Title">
      <mat-error *ngIf="updateTaskForm.get('title')?.invalid && updateTaskForm.get('title')?.touched">
        This input is Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Description" required></textarea>

      <mat-error *ngIf="updateTaskForm.get('description')?.invalid && updateTaskForm.get('description')?.touched">
        Please enter a valid description.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="Choose a due date" required>
      <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatePicker></mat-datepicker>
      <mat-error *ngIf="updateTaskForm.get('dueDate')?.invalid && updateTaskForm.get('dueDate')?.touched">
        This input is Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select the Priority</mat-label>
      <mat-select formControlName="priority" name="Priority">
        <mat-option *ngFor="let priority of listOfPriorities" [value]="priority">{{priority}}</mat-option>
      </mat-select>
      <mat-error *ngIf="updateTaskForm.get('priority')?.invalid && updateTaskForm.get('priority')?.touched">
        This input is Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select the Task Status</mat-label>
      <mat-select formControlName="taskStatus" name="taskStatus">
        <mat-option *ngFor="let status of tasStatus" [value]="status">{{status}}</mat-option>
      </mat-select>
      <mat-error *ngIf="updateTaskForm.get('taskStatus')?.invalid && updateTaskForm.get('taskStatus')?.touched">
        This input is Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Select the Employee</mat-label>
      <mat-select formControlName="employeeId" name="employeeId">
        <mat-option *ngFor="let employee of listOfEmployees" [value]="employee.id">{{employee.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="updateTaskForm.get('employeeId')?.invalid && updateTaskForm.get('employeeId')?.touched">
        This input is Required!
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="updateTaskForm.invalid" (click)="updateTask()">Update Task</button>
  </form>
</div>
